# macOS
.DS_Store

# IDE
.idea/

# Python
__pycache__/
*.pyc
.venv/

# Models / ML artifacts
models/
*.cbm

# CatBoost logs
catboost_info/

# Logs / temp
*.log
*.tmp

# Data
data/raw/

# Jupyter
.ipynb_checkpoints/